*.swp
*.pyc
dist/
pypandoc.egg-info/
.tox/

## IDEs
# pycharm
.idea/

# downloaded pandoc packages
pandoc-*.msi
pandoc-*.deb
pandoc-*.pkg
# The downloaded files end up here
pywix/files/
build/
WiX
__pycache__/
pywix.egg-info/
pywix/__pycache__/
.eggs/
